<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="VenenuX Linux">
        <title>{{title}} | VenenuX Linux</title>

        <link rel="stylesheet" href="/css/pure-min.css" />
        <link rel="stylesheet" href="/css/grids-responsive-min.css" />
        <link rel="stylesheet" href="/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="shortcut icon" href="/site-logo.ico" />
    </head>
    <body>
        <div id="wrapper">
            <header class="pure-g" id="header">
                <div class="pure-u-1 pure-u-lg-4-24">
                    <div class="logo">
                        <a href="/"><img src="/site-logo.svg" class="pure-img" alt="" /></a>
                    </div>
                </div>
                <input type="checkbox" id="menu-toggle-cb">
                <label id="menu-toggle" for="menu-toggle-cb" onclick><s class="bar"></s><s class="bar"></s><s class="bar"></s></label>
                <div class="pure-u-1 pure-u-lg-20-24 box-relative menu-wrapper">
                    <nav class="pure-menu pure-menu-horizontal menu-local">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
                            <li class="pure-menu-item"><a href="/downloads" class="pure-menu-link">Downloads</a></li>
                            <li class="pure-menu-item"><a href="/about" class="pure-menu-link">About</a></li>
                            <li class="pure-menu-item"><a href="/pages" class="pure-menu-link">Pages</a></li>
                            <li class="pure-menu-item"><a href="/posts" class="pure-menu-link">Posts</a></li>
                        </ul>
                    </nav>
                    <nav class="pure-menu pure-menu-horizontal menu-external">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><a href="https://wiki.examplesite.org" class="pure-menu-link">wiki</a></li>
                            <li class="pure-menu-item"><a href="https://git.examplesite.org" class="pure-menu-link">git</a></li>
                            <li class="pure-menu-item"><a href="https://bugs.examplesite.org/projects/alpine/issues" class="pure-menu-link">bugs</a></li>
                            <li class="pure-menu-item"><a href="https://pkgs.examplesite.org" class="pure-menu-link">packages</a></li>
                            <li class="pure-menu-item"><a href="https://mirrors.examplesite.org" class="pure-menu-link">mirrors</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
            <div class="banner">
                <div class="banner-content">
                    <h1>Small. Simple. Secure.</h1>
                    <h3>VenenuX Linux is a security-oriented, lightweight Linux distribution based on musl libc and busybox.</h3>
                </div>
            </div>
            <div id="content" class="{{{pageclass}}}">
                {{{content}}}
            </div> <!-- end content -->
            <footer>&copy; Copyright {{{current_year}}} VenenuX Linux Development Team all rights reserved | <a href="/about/privacy-policy.html">Privacy Policy</a></footer>
        </div> <!-- end wrapper -->
    </body>
</html>
